{% extends "blog/base.html" %}

{% block content %}
    <article class="media content-section" style="display: flex;">
        <img src="{{object.author.profile.image.url}}" class="rounded-circle article-img" alt="avatar">
        <div class="media-body">
            <div class="article-metadata">
                <a href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"d-m-Y" }}</small>
                {% if object.author == user %}
                    <a style="color: rgb(52, 69, 169);" href="{% url 'post-update' object.id %}" >Update</a>
                    <a style="color: brown;" href="{% url 'post-delete' object.id %}">Delete</a>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
{% endblock content %}